.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  margin-bottom: 0;
}

.order-total-label {
  font-weight: normal;
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  width: 100%;
}